<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.filpgame.kotlinx">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.simple.SimpleActivity"
            android:label="Simple Example">
        </activity>

        <activity
            android:name=".ui.mvp.ProfileActivity"
            android:label="MVP Example">
        </activity>

        <activity
            android:name=".ui.list.UsersActivity"
            android:label="List Example">
        </activity>

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.customview.CustomViewActivity"
            android:label="Custom View Example">
        </activity>

        <activity
            android:name=".ui.fragment.TestActivity"
            android:label="Fragment Example">
        </activity>
    </application>

</manifest>